<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'
import AddressBookForm from './AddressBookForm.vue'
import AddressBookList from './AddressBookList.vue'

const AddressBookStore = useAddressBookStore()
</script>

<template>
  <div>
    <AddressBookForm />
    <AddressBookList />
  </div>
</template>
